<div class="container" style="margin-top: 30px;">
  <h3>View Student Details</h3>
  <div>
    <label><b>Student Id:</b></label>{{stud.id}}
  </div>
  <div>
    <label><b>Name:</b></label>{{stud.name}}
  </div>
  <div>
    <label><b>Course:</b></label>{{stud.course}}
  </div>

  <div>
    <label><b>Fee:</b></label>{{stud.fee}}
  </div>

  <div>
    <button type="submit" (click)="goToStudentList()"  class="btn btn-warning" style="margin-top:50px;">Back To Student List</button>
    </div>

</div>

